@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /**
    *  Global Dark/Light mode variables
    */
  --light-bg: #ffffff;
  --dark-bg: #0e0e0e;

  --light-subbg: #ffffff;
  --dark-subbg: #202023;

  --light-bigcomponentbg: 255, 255, 255;
  --dark-bigcomponentbg: 32, 32, 35;

  --light-componentbg: 242, 242, 244;
  --dark-componentbg: 45, 45, 49;

  --light-turnedoff-text: #676771;
  --dark-turnedoff-text: #676771;

  --light-turnedoff-text-hover: #808086;
  --dark-turnedoff-text-hover: #808086;

  --dark-mode-text: 255, 255, 255;
  --light-mode-text: 0, 0, 0;

  --gradient: linear-gradient(
    90deg,
    rgb(0, 178, 236) 0%,
    rgb(217, 202, 15) 100%
  );

  --dark-dimmed-component: 45, 45, 49;
  --light-dimmed-component: 174, 174, 174;

  --dark-lightcomponent: #61616a;
  --light-lightcomponent: #afafaf;

  --dark-skeleton: #4e4e4e;
  --light-skeleton: #888888;

  --dark-header: #383838;
  --light-header: #dadada;

  --dark-border: #47474b;
  --light-border: #c2c2c2;

  --dark-border-hover: #5a5a60;
  --light-border-hover: #9f9f9f;

  --dark-themed-border: #252628;
  --light-themed-border: #f6f3f3;

  --dark-dropdown: 56, 56, 56;
  --light-dropdown: 218, 218, 218;

  --dark-lighthover: #898989;
  --light-lighthover: #d0d0d0;

  --dark-button: rgb(56, 56, 56);
  --light-button: rgb(218, 218, 218);

  --dark-button-hover: rgb(45, 45, 45);
  --light-button-hover: rgb(240, 240, 240);

  --dark-scrollbar: #383838;
  --light-scrollbar: #c3c9d4;
}

:global(slick-active) {
  opacity: 0.75;
  color: #000;
}

/**
 * @notice
 * Global variables, Dark & Light
*/
html {
  /*Backgrounds*/
  --bg: var(--light-bg);
  --subbg: var(--light-subbg);
  --componentbg: var(--light-componentbg);
  --bigcomponentbg: var(--light-bigcomponentbg);

  /*Texts*/
  --text: var(--light-mode-text);
  --off: var(--light-turnedoff-text);
  --offhover: var(--light-turnedoff-text-hover);
  --gradient: linear-gradient(
    90deg,
    rgb(0, 178, 236) 0%,
    rgb(217, 202, 15) 100%
  );
  --light-gradient: linear-gradient(
    90deg,
    rgb(104, 218, 255) 0%,
    rgb(255, 245, 118) 100%
  );

  --dimmed: var(--light-dimmed-component);

  --lightcomponent: var(--light-lightcomponent);

  --lighthover: var(--light-lighthover);

  --skeleton: var(--light-skeleton);

  --header: var(--light-header);

  --border: var(--light-border);
  --border-hover: var(--light-border-hover);

  --themed-border: var(--light-themed-border);

  --dropdown: var(--light-dropdown);

  --button: var(--light-button);
  --buttonHover: var(--light-button-hover);

  --scrollbar: var(--light-scrollbar);

  --main-gradient: var(--light-gradient);
}

html.dark {
  --bg: var(--dark-bg);
  --subbg: var(--dark-subbg);
  --componentbg: var(--dark-componentbg);
  --bigcomponentbg: var(--dark-bigcomponentbg);
  --off: var(--dark-turnedoff-text);
  --offhover: var(--dark-turnedoff-text-hover);

  /*texts*/
  --text: var(--dark-mode-text);

  --dimmed: var(--dark-dimmed-component);

  --lightcomponent: var(--dark-lightcomponent);

  --lighthover: var(--dark-lighthover);

  --skeleton: var(--dark-skeleton);

  --header: var(--dark-header);

  --border: var(--dark-border);

  --border-hover: var(--dark-border-hover);

  --themed-border: var(--dark-themed-border);

  --dropdown: var(--dark-dropdown);

  --button: var(--dark-button);
  --buttonHover: var(--dark-button-hover);

  --scrollbar: var(--dark-scrollbar);
  --main-gradient: var(--gradient);
}

/*Other Global Variables*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus,
textarea {
  outline: none !important;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body::-webkit-scrollbar {
  width: 0.45em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--scrollbar);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--componentbg);
  outline: 0px solid transparent;
  border-radius: 20px;
}

body::-webkit-scrollbar-track-piece:disabled {
  height: 20%;
}
