.modalBody {
  position: absolute;
  width: 289px;
  height: 142px;
  left: 1020px;
  top: 200px;

  /* Grey/Darker */

  background: #050505;
  /* 00 dp */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 99999999999;
  border: 0.01px solid white;
  overflow: hidden;

}

.title {
  position: absolute;
  width: 121px;
  height: 24px;
  left: 16px;
  top: 16px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: right;

  color: #ffffff;
  white-space: nowrap;
}

.percentageBtn {
  position: absolute;
  width: 42px;
  height: 32px;
  left: 16px;
  top: 56px;

  /* Grey/Dark: hover */

  background-color: rgba(32, 32, 35, 1);
  border-radius: 6px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  border: 0px solid transparent;
  cursor: pointer;
  overflow: hidden;

}

.customInput {
  position: absolute;
  width: 62px;
  height: 32px;
  left: 216px;
  top: 56px;

  /* Grey/Dark: hover */

  background-color: rgba(32, 32, 35, 1);
  border-radius: 6px;
  padding-left: 10px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Grey/Light */

  color: #ffffff;
  overflow: visible;
  border: 0px solid transparent;
  cursor: text;
  overflow: hidden;

}

.customInput::placeholder {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Grey/Normal */

  color: #676771;
  overflow: visible;
}

.percentageSymbol {
  position: absolute;
  width: 9px;
  height: 20px;
  left: 262px;
  top: 62px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey/Light */

  color: #ffffff;
}

.chooseBtn {
  position: absolute;
  width: 148px;
  height: 32px;
  left: 71px;
  top: 96px;

  /* Grey/Dark: hover */

  background-color: rgba(32, 32, 35, 1);
  border-radius: 6px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  border: 0px solid transparent;
  color: white;
  cursor: pointer;
  overflow: hidden;

}
