.rectangleDiv {
  position: flex;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #050505;
  border: 1px solid #2d2d31;
  box-sizing: border-box;
  width: 800px;
  height: 56px;
  color: white;
  padding-left: 50px ;
}