.pageDiv {
  overflow: hidden !important;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  overflow-x: hidden;
  width: 100vw;
  background: blue;
  overflow: hidden;
  scrollbar-width: none;
}

.pageDiv * {
  scrollbar-width: none;
  overflow: "hidden";
}

.pageDiv::-webkit-scrollbar {
  overflow: hidden;
}
.pageDiv::-webkit-scrollbar {
  display: none;
}

.blackTopHeader {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0px;
  top: 0px;

  background: rgb(0, 0, 0);
  z-index: 1;
  overflow-x: hidden;
  opacity: 100;
}

.leftCornerProcess {
  height: 24px;
  width: max-content;
  top: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 156px;
  height: 24px;
  left: 64px;
  top: 144px;
}

.leftCornerTurnedOffText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* Grey/Normal */

  color: #676771;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 4;
  cursor: pointer;
}

.leftCornerProcessArrow {
  display: flex;
  order: 1;
  width: 12.85px;
  height: 12.02px;
}

.leftCornerTurnedOnText {
  width: 83px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 4;
  white-space: nowrap;
}

.rightProcessContainer {
  position: absolute;
  width: max-content;
  height: 40px;
  right: 2.5%;
  top: 140px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 24px;
}

.deployButtonRightCorner {
  box-sizing: border-box;

  /* Auto layout */

  padding: 8px 40px;

  flex: none;
  order: 0;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 8px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Darker */

  color: #050505;
  border: 0px solid transparent;
  cursor: pointer;
  z-index: 5;
}

.strategyExecutionTimestampContainer {
  flex: none;
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.strategyExecutionTimestampOffText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Normal */

  color: #676771;
  flex: none;
  order: 1;
}

.strategyExecutionTimestampOnText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
  flex: none;
  order: 1;
  margin-left: 8px;
}

.strategyExecutionTimestampEditIcon {
  width: 18px;
  height: 18px;
  margin-left: 11px;
  cursor: pointer;
  flex: none;
  order: 2;
  cursor: pointer;
}

.draggableContainer {
  box-sizing: border-box;

  /* position: absolute; */
  height: 150px;
  left: 0px;
  top: 200px;
  margin-top: 200px;
  width: 1000px;

  /* Grey/Dark: active */

  background: #0e0e10;
  /* Grey/Darker */

  overflow: visible;
  display: flex;
}

.draggableBackground {
  top: 0px;
  cursor: pointer !important;
  z-index: 0;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.05) 20%,
      transparent 1%
    ),
    radial-gradient(rgba(255, 255, 255, 0.05) 100%, transparent 100%);
  background-size: 12px 12px;
  overflow-x: visible;
  width: 4000px;
  height: 20000px;
}

/* .strategyTab {
} */

.mediumChooseActionContainer {
  width: 327px;
  height: 268px;
  background: #202023;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
}

.mediumActionTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
}

.mediumChooseActionTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
  flex: auto;
  order: 0;
}

.mediumCloseIcon {
  width: 14px;
  height: 14px;
  flex: none;
  order: 1;
  margin-bottom: 5px;
  align-self: flex-end;
  z-index: 9999999999999999;
}

.mediumActionButtonsGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr;  */
  grid-auto-flow: dense;
  grid-gap: 8px;
  width: 100%;
  height: 80%;
  margin-top: 0px;
  background-color: transparent;
  flex: none;
  order: 0;
  z-index: 999999999999999;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.mediumActionButtonsGridContainer::-webkit-scrollbar {
  display: none;
}

.mediumActionButton {
  width: 87px;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(35, 45, 49);
  border-radius: 8px;
  cursor: pointer;
  gap: 12.25px;
  padding-top: 19.75px;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(31, 39, 43);
  pointer-events: auto;
}

.mediumActionButtonText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */

  color: #ffffff;
  flex: none;
  order: 1;
  margin-bottom: 16px;
  cursor: pointer;
}

.mediumActionButtonIcon {
  width: 19.5px;
  height: 18px;
  flex: none;
  order: 0;
  cursor: pointer;
}

.mediumCompleteStepContainer {
  width: 327px;
  height: 96px;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
  z-index: 1;
}

.mediumCompleteStepTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: max-content;
  height: 24px;
}

.mediumCompleteStepProtocolIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.mediumCompleteStepDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;

  width: max-content;
  height: 24px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 16px;
  overflow: hidden;
  margin-left: 8px;
}

.mediumCompleteStepDetailText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mediumCompleteStepDetailsEditIcon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.mediumCompleteStepExpandDots {
  width: 16px;
  height: 4px;
  align-self: center;
  margin-left: 86px;
  cursor: pointer;
}

.mediumCompleteStepFlowsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  margin-top: 0px;
}

.mediumCompleteStepSingleFlowContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: max-content;
  height: 24px;
  margin-top: 0px;
  gap: 12px;
}

.mediumCompleteStepFlowIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 24px;
}

.mediumCompleteStepFlowIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: -4px;
  border: 2px solid #202023;
  overflow: hidden;
  background-color: #1a1a1b;
}

.mediumCompleteStepFlowsText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.mediumConfigContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: max-content;
  height: max-content;
  background-color: #202023;
  border-radius: 16px;
  padding: 24px;
  position: absolute;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
}

.mediumConfigTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  height: 24px;
  margin-bottom: 48px;
}

.mediumConfigTitleTextOff {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #626262;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.mediumConfigTitleTextOn {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  margin-left: 7px;
  margin-right: 5px;
  white-space: nowrap;
}

.mediumConfigTitleArrow {
  width: 12.03px;
  height: 7.42px;
}
.mediumConfigDropdownContainer {
  box-sizing: border-box;

  height: 56px;
  width: 279px;

  /* Grey/Darker */

  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

.mediumConfigDropdownText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  margin-left: 8px;
  align-self: flex-start;
  justify-self: flex-start;
  cursor: pointer;
}

.mediumConfigDropdownIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.mediumConfigDropdownArrow {
  position: absolute;
  width: 12px;
  height: 7.42px;
  flex: none;
  justify-self: flex-end;
  order: 2;
  cursor: pointer;
  margin-left: 221px;
}

.mediumConfigDropdownTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
  margin-left: 2px;
}

.mediumConfigCancelAction {
  box-sizing: border-box;

  /* Auto layout */

  padding: 8px 24px;

  width: 138px;
  height: 40px;

  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;

  /* Inside auto layout */

  cursor: pointer;
  position: absolute;
  top: calc(100% - 24px - 40px);
}

.mediumConfigCancelAction:hover {
  border: 1px solid rgb(197, 0, 0);
}

.mediumConfigCancelActionText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: flex-end;

  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
}

.mediumConfigDoneButton {
  box-sizing: border-box;

  padding: 8px 24px;

  width: 81px;
  height: 40px;

  /* Gradient/Normal */

  border-radius: 8px;
  border: 0px solid transparent;
  cursor: pointer;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  align-self: flex-end;
  margin-right: 46px;

  color: rgb(0, 0, 0);
  color: rgb(217, 202, 15);
  top: calc(100% - 24px - 40px);
}

.mediumConfigProtocolMenu {
  position: absolute;
  width: 279px;
  height: 247.42px;
  display: flex;
  flex-direction: column;
  background: #191a1d;
  border-radius: 4px;
  padding-top: 16px;
  padding-left: 16px;
  gap: 8px;
  z-index: 99999999999999999999;
}

.mediumConfigProtocolMenuRowsGrid {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0px;
  padding-left: 0px;
  overflow-y: scroll;
  margin-top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  margin-left: -32px;
}

.mediumConfigProtocolMenuRowsGrid::-webkit-scrollbar {
  display: none;
}

.mediumConfigProtocolMenuSearchBar {
  height: 40px;
  width: 249.54px;
  /* Grey/Dark */

  background: #2d2d31;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;

  overflow: visible;
  flex: none;
  order: 0;
  padding-left: 32px;
  cursor: text;
  caret-color: white;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Normal */

  color: rgba(255, 255, 255, 0.627);
  overflow: visible;
  margin-left: 2px;
}

.mediumConfigProtocolMenuSearchBar::placeholder {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Normal */

  color: #676771;
  overflow: visible;
  margin-left: 2px;
}

.mediumConfigProtocolMenuSearchBarIcon {
  position: absolute;
  width: 20px;
  height: 21px;
  top: 25px;
  left: 20px;
}

.mediumConfigProtocolRow {
  width: 528px;
  height: 44px;
  background-color: rgba(15, 16, 17, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 16px;
  cursor: pointer;
  padding-left: 0px;
  overflow-x: hidden;
}

.mediumConfigProtocolRowIcon {
  width: 24px;
  height: 24px;

  border-radius: 50%;

  flex: none;
  order: 0;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 0px;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

.mediumConfigProtocolRowText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #81818d;

  /* Inside auto layout */

  flex: none;
  order: 1;
  cursor: pointer;
}

.mediumConfigStakePoolRow {
  width: 528px;
  height: 44px;
  background-color: rgba(15, 16, 17, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 16px;
  gap: 6px;
  cursor: pointer;
  padding-left: 24px;
}

.mediumConfigStakePoolRowTextOff {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #81818d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  cursor: pointer;
}

.mediumConfigStakePoolRowTextOn {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: "liga" off;

  /* Gradient/Dark */

  background: linear-gradient(90deg, #0996c4 0%, #a3970a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.mediumConfigStakePoolRowArrowIcon {
  width: 12.85px;
  height: 12.02px;
  margin-left: 4px;
  cursor: pointer;
}

.mediumConfigStakePoolRowIconsContainer {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
}

.mediumConfigStakePoolRowLargeIcon {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-radius: 50%;
  border: 1px solid #191a1d;
  cursor: pointer;
  overflow: hidden;
}

.mediumConfigStakePoolRowSmallIcon {
  width: 20px;
  height: 20px;
  margin-left: -9.6px;
  border-radius: 50%;
  border: 1px solid #191a1d;
  cursor: pointer;
  overflow: hidden;
}

.mediumConfigStakePoolDropdownEarnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5.5px;
  gap: 0px;

  position: absolute;
  min-width: 101px;
  width: max-content;
  min-height: 30px;
  height: max-content;
  left: 66%;
  top: 55.7%;

  /* Grey/Dark */

  background: #2d2d31;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 3;
  background: linear-gradient(rgb(45, 45, 49), rgb(45, 45, 49)) padding-box,
    linear-gradient(90deg, rgb(0, 178, 236) 0%, rgb(217, 202, 15) 100%)
      border-box;

  border: 1px solid transparent;
}

.mediumConfigStakePoolDropdownEarnGradientText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: "liga" off;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 12px;
}

.mediumConfigStakePoolDropdownEarnIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
}

.mediumConfigStakePoolDropdownEarnIcon {
  width: 20px;
  height: 19px;
  margin-left: -8px;
  border: 1px solid #2d2d31;
  border-radius: 50%;
  overflow: hidden;
}

.mediumConfigStakePoolDropdownEarnWhiteText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  flex: none;
  order: 2;
}

.mediumConfigPercentageContainer {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 10px;

  /* position: absolute; */
  width: 68px;
  height: 24px;
  /* left: calc(100% - 94px);
  top: 0px; */

  /* Grey/Dark */

  background: #2d2d31;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  margin-left: 60%;
}

.mediumConfigPercentageText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
}

.mediumConfigPercentageIcon {
  width: 12px;
  height: 12px;
  cursor: pointer;
  flex: none;
  order: 1;
}

.addStepContainer {
  height: 74px;
  width: 87px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.addStepCircle {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.addStepPlusSign {
  width: 12px;
  height: 12px;
  background: transparent;
  order: 0;
  flex: none;
}

.addStepTextIcon {
  order: 1;
  flex: none;
}

.nodesContainer {
  position: absolute;
  width: max-content;
  height: max-content;
  gap: 12px;
}

.executionTimestampModalBody {
  background: #202023;
  border-radius: 8px;
  position: sticky;
  top: 26%;
  left: 18.75%;
}

.mediumPlaceholderNodeContainer {
  width: 322px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: transparent;
  cursor: pointer;
  z-index: 10;
}

.mediumPlaceholderNodeSvg {
  color: transparent;
  fill: white;
  z-index: 10;
  color: rgb(255, 255, 255, 0.091);
}

.mediumPlaceholderNodeText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  /* Gradient/Light */

  background: linear-gradient(90deg, #68daff 0%, #fff576 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.deployStrategyBlurWrapper {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 100000;
  top: 0px;
}

.deployStrategyContainer {
  position: fixed;
  left: 34.38%;
  right: 34.38%;
  top: 5.33%;
  bottom: 13.11%;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px;
  white-space: nowrap;
  height: max-content;
}

.deployStrategyTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #ffffff;
  order: 0;
  flex: none;
}

.deployStrategyDescription {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #ffffff;
  margin-top: 24px;
  white-space: normal;
}
.deployStrategyApyTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
  margin-top: 40px;
}
.deployStrategyApyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: -16px;
}

.deployStrategyApyOffText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Normal */

  color: #676771;
}

.deployStrategyApyOnText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: right;

  color: #ffffff;
}

.deployStrategyFlexDivisorLine {
  width: 370px;

  /* Grey/Dark */

  border-top: 1px solid #2d2d31;
  margin-top: 8px;
}

.deployStrategyApyColorfulText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: right;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.deployStrategyFlexRowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  margin-top: 24px;
}

.deployStrategyTokenContainer {
  display: flex;
  height: 24px;
  flex-direction: row;
  gap: 8px;
}
.deployStrategyTokenIcon {
  width: 24px;
  height: 24px;

  /* Grey/Dark */

  order: 1;
}

.deployStrategyButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-top: 32px;
  gap: 20px;
}

.deployStrategyCancelButton {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 20px;
  gap: 10px;

  width: 84px;
  height: 40px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 8px;
  flex: none;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.deployStrategyDeployButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  gap: 10px;

  width: 131px;
  height: 40px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  /* Shadow Level 1 */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: flex-end;

  /* Grey/Darker */

  color: #050505;
  cursor: pointer;
}
.mediumCompleteStepChildAddPlusIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -20px;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(20%, -50%);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
}

.mediumSwapConfigContainer {
  box-sizing: border-box;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 0px;
  isolation: isolate;

  position: absolute;
  width: 327px;
  height: 423.42px;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 4px;
  gap: 28px;
}

.mediumSwapConfigHeadDexContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.mediumSwapConfigDexTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  margin-top: -83.75px;
  order: 0;
}

.mediumSwapConfigDexContainer {
  box-sizing: border-box;
  width: 198px;
  height: 43px;
  background: #1a1a1c;
  border: 1px solid #2d2d31;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  /* margin-top: -40px; */
  order: 1;
  color: #333333;
}

.mediumSwapConfigOnText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  z-index: 9999999999999999;
  white-space: nowrap;
  color: #d9d9d91a;
}

.mediumSwapConfigOffText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 24px;
  /* identical to box height, or 300% */

  color: #555665;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  position: absolute;
  top: 178px;
  left: 38px;
  white-space: nowrap;
}

.mediumSwapConfigTokenIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  overflow: hidden;
}

.mediumSwapConfigPairDetailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 24px;
  margin-top: 0px;
}

.mediumSwapConfigSwapElipse {
  box-sizing: border-box;

  position: absolute;
  width: 24px;
  height: 24px;

  background: #050505;
  border: 1px solid #2d2d31;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mediumSwapConfigSwapIcon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.mediumSwapConfigPairDetailsLine {
  border-top: 1px solid #4f4f4f;
  flex: none;
  flex-grow: 0;
  z-index: 18;
  width: 182px;
  margin-left: 28px;
  margin-top: 1px;
}

.mediumSwapConfigPairDetailsText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 24px;
  /* identical to box height, or 300% */

  color: #ffffff;
  margin-left: 6px;
}

.mediumSwapConfigPriceContainer {
  box-sizing: border-box;

  position: relative;
  height: 18.17px;
  order: 10;
  right: 0px;
  left: 230px;
  top: -5px;
  width: 48px;
  /* Grey/Dark: hover */

  background: #202023;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 8px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 24px;
  /* identical to box height, or 300% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mediumSwapSwappingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 168px;
  gap: 0px;
  margin-bottom: 60px;
}

.mediumSwapConfigTokenDropdownContainer {
  cursor: pointer;
  box-sizing: border-box;

  height: 56px;

  /* Grey/Darker */

  background-color: rgba(5, 5, 5, 1);
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 19px;
  padding-left: 13px;
  padding-bottom: 13px;
  width: 279px;
}

.tokenModalBlurWrapper {
  position: fixed;
  width: 100%;
  height: 100%;

  background: rgba(21, 21, 22, 0.75);
  backdrop-filter: blur(2px);
  z-index: 10000000;
  top: 0vh;
}

.tokenModalContainer {
  position: relative;
  width: 735px;
  height: 628px;
  left: 50vw;
  top: 10%;
  transform: translate(-50%, 0);

  background: #2d2d31;
  z-index: 1000000;
  border-radius: 8px;
}

.tokenModalTitleContainer {
  position: absolute;
  width: 735px;
  height: 27px;
  left: 0px;
  top: 32px;

  background: #050505;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #ffffff;
  background-color: transparent;
  padding-left: 33px;
  padding-right: 37px;
}

.tokenModalChainsFlex {
  width: 320px;
  height: 628px;
  left: 0px;
  top: 0px;

  background: #202023;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 83px;
  padding-left: 32px;
  padding-right: 32px;
  gap: 16px;
}

.tokenModaltokensFlex {
  width: 415px;
  height: 628px;
  left: 320px;
  top: 0px;
  position: absolute;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 83px;
  padding-left: 32px;
  padding-right: 32px;
}

.tokenModalNetworkChipOff {
  box-sizing: border-box;

  width: 256px;
  height: 56px;

  border: 1px solid #2d2d31;
  border-radius: 8px;
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
  cursor: pointer;
}

.tokenModalNetworkChipIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  order: 0;
  overflow: hidden;
}

.tokenModalSearchBarContainer {
  box-sizing: border-box;

  position: absolute;
  width: 351px;
  height: 52px;
  left: 32px;
  top: 80px;

  background: #232222;
  border: 1px solid #2d2d31;
  border-radius: 10px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #888888;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 48px;
  cursor: text;
  z-index: 20;
}

.tokenModalSearchBarFlex {
  box-sizing: border-box;

  position: absolute;
  width: 42.5px;
  height: 52px;
  left: 32px;
  top: 80px; /* identical to box height, or 171% */

  padding-left: 18.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 25;
  justify-content: flex-start;
  cursor: text;
}

.tokenModalSearchBarContainer::placeholder {
  overflow: visible;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #888888;
  cursor: text;
}
.searchIcon {
  width: 14.58px;
  height: 14.58px;
}

.tokenModalTokensGrid {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  margin-top: 84px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.tokenModalTokensGrid::-webkit-scrollbar {
  display: none;
}

.listOfTokens {
  scrollbar-width: none;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.listOfTokens::-webkit-scrollbar {
  display: none;
  width: none;
}

.tokenModalTokenRowContainer {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.tokenModalTokenRowBorderFlex {
  height: 100%;
  width: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #676771;
  cursor: pointer;
}

.tokenModalTokenRowIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  margin-left: 0px;
  overflow: hidden;
}

.tokenModalTokenRowDetailsContainer {
  width: max-content;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}

.tokenModalTokenRowSymbol {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
}

.tokenModalTokenRowName {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* Grey/Light: active */

  color: #d8d8dc;
}

.actionableTokensTab {
  position: fixed;
  width: 416px;
  height: 61px;
  left: 80vh;
  /* transform: translate(-50%, 0); */
  top: 85vh;

  background: linear-gradient(
    95.87deg,
    rgba(53, 53, 53, 0.4) 19.94%,
    rgba(53, 53, 53, 0.25) 47.32%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 51px;
  padding-right: 51px;
  gap: 10px;
}

.actionableTokensOffText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Normal */

  color: #676771;
  order: 0;
  flex: none;
}

.actionableTokensIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  order: 1;
  flex: none;
}

.actionableTokenIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: -6px;
  overflow: hidden;
  background-color: black;
  z-index: key;
  border: 1px solid rgb(40, 40, 40);
}

.actionableTokensMoreText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #fefefe;
  order: 2;
}

.addLiquidityMidFlexBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.addLiquidityPairsFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  width: 279px;
  height: 80px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.addLiquidityPairContainersFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.addLiquidityProtocolFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 279px;
  height: 80px;
}

.addLiquidityMediumConfigTokenDropdownContainer {
  box-sizing: border-box;
  cursor: pointer;

  width: 118px;
  height: 56px;
  /* Grey/Darker */

  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.addLiquidityMediumConfigTokenIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
  cursor: pointer;
  overflow: hidden;
}

.addLiquidityMediumConfigTokenDropdownText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

/* .addLiquidityMediumConfigTokenDropdownTextOff {
} */

.customArgsContainer {
  min-height: 295px;
  height: max-content;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
  background: #202023;
  border-radius: 4px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
  z-index: 10000000;
}

.customArgsTitleTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.customArgsTitleTextOn {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.customArgsTitleTextOff {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #626262;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  z-index: 3;
}

.customArgsArgumentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  width: max-content;
  height: max-content;
}

.customArgsArgumentTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
}

.customArgsArgumentInputContainer {
  height: 56px;
  width: 279px;
  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  overflow: visible;
  cursor: text;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: "liga" off;

  color: #838383;

  /* Inside auto layout */

  flex: none;
  overflow: visible;
}

.customArgsArgumentInputContainer::placeholder {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: "liga" off;

  color: #515151;

  /* Inside auto layout */

  flex: none;
  overflow: visible;
}

.trueFalseSlider {
  border: "1px solid #2D2D31";
  box-shadow: "0px 4px 4px rgba(0, 0, 0, 0.25)";
  border-radius: 41px;
  width: 86px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 5px;
  padding-left: 5px;
  background: rgb(5, 5, 5);
  cursor: pointer;
}

.trueFalseSliderCircleOn {
  width: 25px;
  height: 25px;

  /* Gradient/Light */

  background: linear-gradient(90deg, #68daff 0%, #fff576 100%);
  border: 1px solid #000000;
  cursor: pointer;
}

.trueFalseSliderCircleOff {
  width: 25px;
  height: 25px;

  /* Grey/Normal: hover */

  background: rgb(97, 97, 106);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.customArgsSetButton {
  margin-top: 37px;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 10px;

  width: 72px;
  height: 40px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Darker */

  color: #050505;

  /* Inside auto layout */
  cursor: pointer;
}

.harvestMediumConfigContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: max-content;
  height: max-content;
  background-color: #202023;
  border-radius: 4px;
  padding: 24px;
  position: absolute;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
  min-height: 423px;
}

.harvestChoiceGrid {
  display: grid;
  grid-gap: 4px;
  width: 100%;
  max-width: 327px;
  height: 100%;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  width: 130%;
  margin-left: -24px;
}

.harvestRowContainer {
  width: 93%;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;

  padding-left: 24px;
  padding-right: 12px;
  height: 42px;
  cursor: pointer;
}

.harvestRowOriginActionFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
}

.harvestRowOriginActionText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;
}

.harvestRowOriginActionTokensContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  width: 100%;
  margin-left: 8px;
}

.harvestRowOriginActionTokenIcon {
  width: 21px;
  height: 21px;
  background: transparent;
  border-radius: 50%;
  margin: -5px;
  overflow: hidden;
}

.harvestAbleTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;

  /* Inside auto layout */
  margin-bottom: 19px;
}

.harvestRowArrowIcon {
  background: transparent;
  margin-left: 20px;
  margin-right: 10px;
}

.harvestRowEarnGradientText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: "liga" off;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  margin-right: 8px;
}

.harvestRowHarvestActionFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
}

.harvestRowHarvestActionTokensContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  margin-left: 8px;
}

.harvestRowHarvestActionTokenIcon {
  width: 31px;
  height: 31px;
  background: transparent;
  border-radius: 50%;
  margin: -7px;
  border: 1px solid #202023;
  overflow: hidden;
}

.harvestRowHarvestActionTokensText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  /* Grey/Light */

  color: #ffffff;
  margin-left: 10px;
}

.harvestRowSelectionCircle {
  width: 13px;
  height: 13px;

  background: #4b4b4b;
  border: 1.5px solid #1b1b1b;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  overflow: hidden;
}
.harvestRowSelectionInnerCircle {
  width: 9px;
  height: 9px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00a4da 0%, #c5b80e 100%);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.cantFindOptionText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #81818d;
}

.frequencyModalBlurWrapper {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 100000;
  top: 0px;
}

.frequencyModalBody {
  background: #202023;
  border-radius: 8px;
  width: 67.5vw;
  height: 60.5vh;
  display: flex;
  flex-direction: row;
  min-width: 464px;
  min-height: 380px;
}

.frequencyModalRightContainer {
  height: 100%;
  width: 65%;
  background: rgba(234, 249, 234, 0.05);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 1;
  top: 0px;
  overflow: hidden;
}

.frequencyModalGrayCircle {
  width: 481px;
  height: 481px;
  background: #505253;
  position: relative;
  top: 100%;
  left: 100%;
  transform: translate(-80%, -85%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.frequencyModalLeftContainer {
  height: 100%;
  width: 70%;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  order: 0;
  top: 0px;
  padding-left: 56px;
  padding-top: 7%;
  padding-right: 40px;
  padding-bottom: 56px;
}

.frequencyModalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.frequencyModalTitleText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.frequencyModalDescriptionText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  /* Grey/Normal */

  color: #676771;
}

.frequencyModalBottomContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.frequencyModalInputFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.frequencyModalInputTitle {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
}

.frequencyModalInputFlexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  gap: 8px;
}

.frequencyModalInput {
  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  box-sizing: border-box;
  width: 226px;
  height: 56px;
  padding: 16px;
  overflow: visible;
  white-space: nowrap;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  /* Grey/Normal */

  color: #a4a4ac;
  cursor: text;
}

.frequencyModalInput::placeholder {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  /* Grey/Normal */

  color: #676771;
  overflow: visible;
}

.frequencyModalInputTimestampsContainer {
  box-sizing: border-box;

  height: 56px;
  width: 120px;
  /* Grey/Dark */

  background: #2d2d31;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;
  padding: 16px;
  cursor: pointer;
}

.frequencyModalInputTimestampsText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  cursor: pointer;
}

.frequencyModalInputTImestampsArrowDown {
  width: 12px;
  height: 7.42px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  left: auto;
}

.frequencyModalButtonsFlexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  gap: 19px;
}

.frequencyModalCancelButton {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 20px;
  gap: 10px;

  width: 84px;
  height: 40px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 8px;
  cursor: pointer;
}

.frequencyModalSaveButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  gap: 10px;

  width: max-content;
  height: 40px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  /* Shadow Level 1 */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Darker */

  color: #050505;
  cursor: pointer;
}

.frequencyModalDropdownContainer {
  box-sizing: border-box;

  position: absolute;
  height: 187px;
  left: 35.72%;
  right: 54.44%;
  top: 537px;
  width: 140px;

  /* Grey/Dark */

  background: #2d2d31;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  overflow: visible;
}

.frequencyModalDropdownRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* border: 1px solid lime; */
  padding-left: 16px;
  padding-top: 0px;
  cursor: pointer;
}

.frequencyModalDropdownRowText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
  cursor: pointer;
}

.baseTokensContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.baseTokenImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  overflow: hidden;
}

.batchSwapBlock {
  position: relative;
  width: 188px;
  height: 56px;
  left: -23.5%;
  top: -4032px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 8px;
}

.batchSwapText {
  position: absolute;
  top: 20px;
  left: 75px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */

  color: #ffffff;
}

.batchSwapImg {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.depositTokenImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.miniNodeContainer {
  width: 216px;
  height: 56px;

  background: #202023;
  border-radius: 8px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.305));
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.miniNodeProtocolImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.miniNodeActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 124px;
  height: 24px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 16px;
}

.miniNodeActionText {
  width: 38px;
  height: 16px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
  margin-right: 3px;
}

.miniNodeFlowsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4.43px;
}

.miniNodeInnerflowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.miniNodeTokenImg {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #2d2d31;
  overflow: hidden;
}

.miniNodeFlowsArrow {
  width: 9.24px;
  height: 9.24px;
}
