@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /**
    *  Global Dark/Light mode variables
    */
  --light-bg: #ffffff;
  --dark-bg: #0e0e0e;

  --light-subbg: #ffffff;
  --dark-subbg: #202023;

  --light-bigcomponentbg: 242, 242, 244;
  --dark-bigcomponentbg: 32, 32, 35;

  --light-componentbg: #f2f2f4;
  --dark-componentbg: #2d2d31;

  --light-turnedoff-text: #676771;
  --dark-turnedoff-text: #676771;

  --light-turnedoff-text-hover: #808086;
  --dark-turnedoff-text-hover: #808086;

  --dark-mode-text: 255, 255, 255;
  --light-mode-text: 0, 0, 0;

  --gradient: linear-gradient(
    90deg,
    rgb(0, 178, 236) 0%,
    rgb(217, 202, 15) 100%
  );

  --dark-dimmed-component: 45, 45, 49;
  --light-dimmed-component: 174, 174, 174;

  --dark-lightcomponent: #61616a;
  --light-lightcomponent: #afafaf;

  --dark-skeleton: #4e4e4e;
  --light-skeleton: #888888;

  --dark-header: #383838;
  --light-header: #dadada;

  --dark-border: #2d2d3198;
  --light-border: #eeeeeee4;

  --dark-themed-border: #252628;
  --light-themed-border: #c9c9c9;

  --dark-dropdown: 56, 56, 56;
  --light-dropdown: 218, 218, 218;

  --dark-lighthover: #898989;
  --light-lighthover: #d0d0d0;
}

/**
 * @notice
 * Global variables, Dark & Light
*/
html {
  /*Backgrounds*/
  --bg: var(--light-bg);
  --subbg: var(--light-subbg);
  --componentbg: var(--light-componentbg);
  --bigcomponentbg: var(var(--light-bigcomponentbg));

  /*Texts*/
  --text: var(--light-mode-text);
  --off: var(--light-turnedoff-text);
  --offhover: var(--light-turnedoff-text-hover);
  --gradient: linear-gradient(
    90deg,
    rgb(0, 178, 236) 0%,
    rgb(217, 202, 15) 100%
  );
  --light-gradient: linear-gradient(
    90deg,
    rgb(104, 218, 255) 0%,
    rgb(255, 245, 118) 100%
  );

  --dimmed: var(--light-dimmed-component);

  --lightcomponent: var(--light-lightcomponent);

  --lighthover: var(--light-lighthover);

  --skeleton: var(--light-skeleton);

  --header: var(--light-header);

  --border: var(--light-border);

  --themed-border: var(--light-themed-border);

  --dropdown: var(--light-dropdown);
}

html.dark {
  --bg: var(--dark-bg);
  --subbg: var(--dark-subbg);
  --componentbg: var(--dark-componentbg);
  --bigcomponentbg: var(--dark-bigcomponentbg);
  --off: var(--dark-turnedoff-text);
  --offhover: var(--dark-turnedoff-text-hover);

  /*texts*/
  --text: var(--dark-mode-text);

  --dimmed: var(--dark-dimmed-component);

  --lightcomponent: var(--dark-lightcomponent);

  --lighthover: var(--dark-lighthover);

  --skeleton: var(--dark-skeleton);

  --header: var(--dark-header);

  --border: var(--dark-border);

  --themed-border: var(--dark-themed-border);

  --dropdown: var(--dark-dropdown);
}

/*Other Global Variables*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
