.herosection {
  background-image: url("../../public/ellipse-15.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 96px 64px 100px;
  font-family: "Athletics";
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
}

.subtitle {
  text-align: center;
  font-family: "Athletics";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #676771;
  margin-top: 16px;
}

.searchFieldWrapper {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 32px auto 44px;
}

.searchInput {
  background: #050505;
  border: 1px solid #2d2d31;
  border-radius: 4px;
  width: 100%;
  padding: 16px;
  padding-left: 58px;
  height: 100%;
  color: white;
  overflow: hidden;

}

.searchIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.flexDiv1 {
  display: flex;
  justify-content: space-between;
}

.clips {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clip {
  color: #676771;
  font-family: "Euclid Circular A";
  background: #202023;
  border-radius: 133.333px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #202023;
  height: 40px;
  cursor: pointer;
  overflow: hidden;

}

.clip:focus {
  border: 1px solid #d9ca0f;
  color: #ffffff;
}

.clip .clipname {
  margin: 0px 16px 0px 8px;
  font-family: "Athletics";
}

.moretitle {
  margin: 8px 14px 8px 16px;
}

.moreDiv {
  position: relative;
}

.moreclips {
  margin-right: 16px;
}

.moreNetworks {
  position: absolute;
  background: #2d2d31;
  border-radius: 8px;
  padding: 24px 24px 8px;
  width: 161px;
  top: 120%;
  color: #ffffff;
  overflow: hidden;

}

.moreNetworks div {
  margin-bottom: 16px;
}

.flexDiv2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.flexDiv3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.vaultDiv {
  font-family: "Athletics";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.toggle {
  position: relative;
}

.floor {
  background: #313133;
  border-radius: 7px;
  width: 24px;
  height: 9.8px;
  overflow: hidden;

}

.thumb {
  background: #222226;
  width: 14.12px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

}

.slidethumb {
  background: #222226;
  width: 14.12px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

}

.filterBox {
  border: 1px solid #2d2d31;
  border-radius: 8px;
  padding: 12px 16px;
  background: #050505;
  color: #676771;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;

}

.filterBox div {
  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 50%;
  padding: 5px 10px;
  overflow: hidden;

}
