.rightLine {
  position: absolute;
  width: 621px;
  height: 80px;
  left: 50px;
  top: 200px;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: transparent;
  z-index: 999999999999999999999999999;
  border-top-right-radius: 20px;
}

.leftLine {
  position: absolute;
  width: 121px;
  height: 80px;
  left: 300px;
  top: 200px;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: transparent;
  z-index: 999999999999999999999999999;
  border-top-left-radius: 20px;
}

.straightLine {
  position: absolute;
  width: 20px;
  height: 80px;
  left: 500px;
  top: 200px;
  border-left: 1px solid #ffffff;
  background: transparent;
  z-index: 999999999999999999999999999;
}

.percentageBoxEditable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  gap: 4px;

  position: absolute;
  width: 56px;
  height: 24px;
  left: -28px;
  bottom: 20%;

  /* Grey/Darker */

  background: #050505;
  cursor: pointer;
}

.percentageText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.editIcon {
  width: 15px;
  height: 15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}
