*,
body,
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.685);
}
.yieldchainLogo1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 44px;
  left: 66px;
  width: 164.83px;
  height: 32px;
  background-image: url(../../public/yieldchain-logo-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 100;
  overflow: hidden;
}
.ellipseIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.iD65FG646Div,
.metamaskDiv {
  position: flex;
  top: 0;
  left: 0;
  line-height: 40px;
  display: inline-block;
  color: white;
  font-size: 14px;
  overflow: visible;
}
.iD65FG646Div {
  top: 24px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}
.chevronDownIcon,
.groupDiv1 {
  position: absolute;
  top: 0;
  left: 48px;
  width: 74px;
  height: 40px;
  cursor: pointer;
}
.chevronDownIcon {
  top: 10px;
  left: 138px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.groupDiv {
  position: absolute;
  top: 40px;
  left: 1040px;
  width: 158px;
  height: 40px;
  text-align: right;
  font-size: 16px;
}

.connectButtonGroup {
  position: absolute;
  top: 0;
  left: 0px;
  width: 74px;
  height: 40px;
  cursor: pointer;
}

.simpleIconslitecoin {
  position: relative;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.etherumDiv {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.685);
}
.frameDiv1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv1 > * + * {
  margin-left: 8px;
}
.chevronDownIcon1 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.frameDiv {
  position: absolute;
  top: 40px;
  left: 878px;
  border-radius: 4px;
  border: 1px solid #2d2d31;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.frameDiv > * + * {
  margin-left: 8px;
}
.ellipseIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 937px;
  height: 504px;
  opacity: 0.7;
}
.icon24cursor {
  position: absolute;
  top: 261px;
  left: 567px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: none;
}
.searchForAVaultIDTokenO,
.strategyVaultsDiv {
  position: absolute;
  top: 0;
  left: 65px;
  font-size: 64px;
  line-height: 72px;
  font-weight: 900;
  font-family: Athletics;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.searchForAVaultIDTokenO {
  top: 88px;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #676771;
  text-align: center;
  width: 600px;
}
.groupDiv3 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 600px;
  height: 136px;
}
.icon1 {
  top: 0;
  left: 0;
  width: 24px;
  overflow: hidden;
  position: absolute;
  height: 24px;
}

.iconSearch {
  top: 16px;
  left: 16px;
  width: 30px;
  position: absolute;
  height: 24px;
}
.ellipseIcon2,
.groupDiv2,
.groupDiv4,
.groupDiv5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 56px;
}
.ellipseIcon2,
.groupDiv2,
.groupDiv4 {
  top: 168px;
}
.ellipseIcon2,
.groupDiv2 {
  top: 96px;
  left: 320px;
  height: 224px;
}
.ellipseIcon2 {
  top: 276px;
  left: 979px;
  width: 250px;
  height: 250px;
  opacity: 0.7;
}
.ellipseIcon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.yieldchainLogo11 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.allNetworksB {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  font-family: Euclid Circular A;
  color: #fff;
  text-align: center;
}
.frameDiv3 {
  border-radius: 133.33px;
  background-color: #202023;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4px 16px 4px 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.dropdown {
  border: none;
  background-color: #000000;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 8px 8px;
  outline: none;
  color: rgba(255, 255, 255, 0.685);
  font-size: 14px;
  z-index: 4000;
}

.frameDiv3 > * + * {
  margin-left: 8px;
}
.groupIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.binanceSCDiv {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Euclid Circular A;
  color: #676771;
  text-align: center;
  display: inline-block;
}
.frameDiv8 {
  border-radius: 133.33px;
  background-color: #202023;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv8 > * + * {
  margin-left: 8px;
}
.frameDiv2 {
  position: absolute;
  top: 364px;
  left: 64px;
  width: 885px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv2 > * + * {
  margin-left: 16px;
}
.filterDiv {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-family: Athletics;
  color: #676771;
  text-align: left;
  display: inline-block;
  opacity: 0.8;
}
.frameDiv10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}
.ellipseIcon4 {
  left: 0;
  width: 24px;
  height: 24px;
}
.b,
.ellipseIcon4,
.frameDiv9 {
  position: absolute;
  top: 0;
}
.b {
  left: 7px;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  font-family: Athletics;
  color: #fff;
  text-align: center;
}
.frameDiv9 {
  left: 162px;
  border-radius: 8px;
  background-color: #050505;
  border: 1px solid #2d2d31;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
  justify-content: center;
}
.frameDiv9 > * + * {
  margin-left: 16px;
}
.dashboard {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  font-family: Athletics;
  color: #fff;
  text-align: left;
}
.colorLTrack {
  position: absolute;
  height: 40.83%;
  width: 100%;
  top: 29.58%;
  right: 0;
  bottom: 29.58%;
  left: 0;
  border-radius: 7px;
  background-color: #313133;
}
.colorLThumb {
  position: absolute;
  height: 58.33%;
  width: 58.82%;
  top: 20.83%;
  right: 41.18%;
  bottom: 20.83%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.switchAOnaEnabled {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.frameDiv12 {
  position: absolute;
  top: 12px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv12 > * + * {
  margin-left: 8px;
}
.frameForm,
.groupDiv8 {
  position: absolute;
  top: 360px;
  left: 1107px;
  width: 269px;
  height: 48px;
}
.frameForm {
  top: 120px;
  left: 2px;
  width: 1440px;
  height: 504px;
  overflow: hidden;
}
.createVaultDiv {
  border: "none";
  position: relative;
  line-height: 24px;
  font-weight: 900;
  display: inline-block;
  opacity: 0.8;
  cursor: pointer;
}
.frameDiv13 {
  position: absolute;
  top: 40px;
  left: 1215px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 8px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: #050505;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #202023;
  width: 1312px;
  height: 108px;
}
.plusIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameDiv16 {
  position: absolute;
  top: 30px;
  left: 1090px;
  border-radius: 8px;
  background-color: #fff;
  width: 182px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #050505;
}
.div,
.totalVaultsDiv {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.div {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  color: #fff;
}
.frameDiv18 {
  position: absolute;
  top: 24px;
  left: 830px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frameDiv18 > * + * {
  margin-top: 4px;
}
.frameDiv19 {
  position: absolute;
  top: 24px;
  left: 978px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frameDiv19 > * + * {
  margin-top: 4px;
}
.stakeFor300APR {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  display: inline-block;
}
.frameDiv21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv21 > * + * {
  margin-left: 8px;
}
.div2 {
  position: relative;
  line-height: 32px;
  font-weight: 800;
  display: inline-block;
}
.frameDiv22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
.frameDiv20 {
  position: absolute;
  top: 24px;
  left: 384px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv20 > * + * {
  margin-top: 4px;
}
.frameDiv23 {
  position: absolute;
  top: 24px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv23 > * + * {
  margin-top: 4px;
}
.frameDiv24 {
  position: absolute;
  top: 24px;
  left: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv24 > * + * {
  margin-top: 4px;
}
.frameDiv15 {
  position: absolute;
  top: 704px;
  left: 66px;
  width: 1312px;
  height: 108px;
  font-size: 16px;
  color: #676771;
}
.trendingVaultsDiv,
.verifiedVaultsDiv {
  position: absolute;
  top: 872px;
  left: 66px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  display: inline-block;
}
.trendingVaultsDiv {
  top: 1580px;
}
.groupIcon4,
.groupIcon5,
.rectangleDiv1 {
  position: absolute;
  top: 868px;
  left: 1274px;
  width: 104px;
  height: 40px;
}
.groupIcon5,
.rectangleDiv1 {
  top: 1576px;
}
.rectangleDiv1 {
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #202023;
  width: 304px;
  height: 548px;
}
.mDiv,
.totalValueLocked {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: Athletics;
  color: #676771;
  text-align: left;
  display: inline-block;
}
.mDiv {
  left: 212px;
  font-weight: 800;
  color: #fff;
  text-align: right;
}
.frameDiv25 {
  position: absolute;
  top: 316px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.cakeDiv {
  position: absolute;
  top: 0;
  left: 192px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  font-family: Athletics;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.ellipseIcon5,
.frameDiv26 {
  position: absolute;
  height: 24px;
}
.ellipseIcon5 {
  top: 0;
  left: 232px;
  width: 24px;
  object-fit: cover;
}
.frameDiv26 {
  top: 356px;
  left: 24px;
  width: 256px;
}
.enterVaultDiv,
.frameIcon {
  position: absolute;
  top: 180px;
  left: 96px;
  width: 112px;
  height: 112px;
}
.enterVaultDiv {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  font-family: Athletics;
  color: #2d2d31;
  text-align: center;
  display: inline-block;
}
.groupDiv9 {
  position: relative;
  width: 85px;
  height: 24px;
  flex-shrink: 0;
}
.buttonDiv {
  position: absolute;
  top: 484px;
  left: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  width: 262px;
  display: flex;
  flex-direction: row;
  padding: 8px 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: 80px;
}
.aPR45,
.aPY234Div {
  position: relative;
  font-family: Athletics;
  text-align: left;
  display: inline-block;
}
.aPY234Div {
  font-size: 21px;
  line-height: 32px;
  font-weight: 800;
  color: #fff;
}
.aPR45 {
  font-size: 12px;
  text-decoration: line-through;
  line-height: 20px;
  color: #676771;
}
.frameDiv27 {
  position: absolute;
  top: 14px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkDecagramIcon,
.verifiedDiv {
  position: relative;
  height: 16px;
  flex-shrink: 0;
}
.verifiedDiv {
  font-size: 12px;
  line-height: 20px;
  font-family: Athletics;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 43px;
}
.checkDecagramIcon {
  width: 16px;
  overflow: hidden;
}
.frameDiv28 {
  position: absolute;
  top: 24px;
  left: 185px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frameDiv28 > * + * {
  margin-left: 4px;
}
.uSDTBTCSpan {
  font-weight: 900;
}
.b1,
.uSDTBTCSpan {
  font-family: Athletics;
}
.appuniswaporgDiv,
.solanaNetworkDiv,
.uSDTBTCDiv {
  position: absolute;
  top: 104px;
  left: 93px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.appuniswaporgDiv,
.solanaNetworkDiv {
  top: 140px;
  left: 102px;
  font-size: 14px;
  line-height: 24px;
  font-family: Athletics;
  color: #676771;
  text-align: left;
}
.appuniswaporgDiv {
  top: 0;
  left: 126px;
  font-weight: 800;
  color: #fff;
  text-align: right;
}
.contentCopyIcon {
  position: absolute;
  top: 2px;
  left: 236px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.frameDiv29 {
  position: absolute;
  top: 396px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.autoCompoundingDiv {
  position: absolute;
  top: 0;
  left: 130px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  font-family: Athletics;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.frameDiv30 {
  position: absolute;
  top: 436px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.frameForm1,
.rectangleDiv2 {
  position: absolute;
  width: 304px;
}
.frameForm1 {
  top: 948px;
  left: 66px;
  height: 548px;
  overflow: hidden;
}
.rectangleDiv2 {
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #202023;
  height: 388px;
}
.autoCompoundingDiv1 {
  position: absolute;
  top: 0;
  left: 130px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.frameDiv32 {
  position: absolute;
  top: 276px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.mDiv1 {
  position: absolute;
  top: 0;
  left: 212px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.frameDiv33 {
  position: absolute;
  top: 156px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.cakeDiv1 {
  position: absolute;
  top: 0;
  left: 192px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.frameDiv34 {
  position: absolute;
  top: 196px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.appuniswaporgDiv1 {
  position: absolute;
  top: 0;
  left: 126px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.buttonDiv1,
.frameDiv35 {
  position: absolute;
  left: 24px;
}
.frameDiv35 {
  top: 236px;
  width: 256px;
  height: 24px;
}
.buttonDiv1 {
  top: 324px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  width: 262px;
  display: flex;
  flex-direction: row;
  padding: 8px 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #2d2d31;
}
.verifiedDiv1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 43px;
  height: 16px;
  flex-shrink: 0;
}
.frameDiv36 {
  position: absolute;
  top: 0;
  left: 161px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frameDiv36 > * + * {
  margin-left: 4px;
}
.ethereumNetworkDiv,
.uNIDiv {
  position: absolute;
  left: 0;
  display: inline-block;
}
.uNIDiv {
  top: 0;
  line-height: 32px;
  font-weight: 900;
}
.ethereumNetworkDiv {
  top: 36px;
  font-size: 14px;
  line-height: 24px;
  color: #676771;
}
.groupDiv12,
.groupDiv13,
.groupDiv14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 121px;
  height: 60px;
}
.groupDiv12,
.groupDiv13 {
  font-size: 21px;
}
.groupDiv12 {
  top: 80px;
  left: 24px;
  width: 256px;
  font-size: 12px;
  color: #fff;
}
.frameDiv31 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 304px;
  height: 388px;
  overflow: hidden;
}
.frameIcon1 {
  position: absolute;
  top: 0;
  left: 96px;
  width: 112px;
  height: 112px;
}
.aPR234Div,
.aPY234Div1 {
  position: absolute;
  top: 25px;
  line-height: 24px;
  display: inline-block;
}
.aPY234Div1 {
  left: 0;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}
.aPR234Div {
  left: 235px;
  text-decoration: line-through;
  text-align: right;
}
.groupDiv10 {
  position: absolute;
  top: 1656px;
  left: 66px;
  width: 304px;
  height: 444px;
  color: #676771;
}
.bTCSpan {
  font-weight: 900;
}
.bTCDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  display: inline-block;
}
.groupDiv17,
.groupDiv18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 60px;
}
.groupDiv17 {
  top: 80px;
  left: 24px;
  font-size: 21px;
  color: #fff;
}
.groupDiv15,
.groupDiv20 {
  position: absolute;
  top: 1656px;
  left: 402px;
  width: 304px;
  height: 444px;
  color: #676771;
}
.groupDiv20 {
  left: 738px;
}
.customDiv {
  position: absolute;
  top: 0;
  left: 206px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.groupDiv25 {
  position: absolute;
  top: 1656px;
  left: 1074px;
  width: 304px;
  height: 444px;
  color: #676771;
}
.buttonDiv5 {
  position: absolute;
  top: 484px;
  left: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  width: 262px;
  display: flex;
  flex-direction: row;
  padding: 8px 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #2d2d31;
}
.aPR451 {
  position: relative;
  font-size: 12px;
  text-decoration: line-through;
  line-height: 20px;
  color: #676771;
  display: inline-block;
}
.frameDiv57,
.frameDiv58 {
  position: absolute;
  top: 14px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 21px;
  color: #fff;
}
.frameDiv58 {
  top: 24px;
  left: 185px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  overflow: hidden;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.frameDiv58 > * + * {
  margin-left: 4px;
}
.binanceSmartChain,
.dOTDiv {
  position: absolute;
  display: inline-block;
}
.dOTDiv {
  top: 104px;
  left: 127px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.binanceSmartChain {
  top: 140px;
  left: 87px;
  line-height: 24px;
}
.frameDiv53 {
  position: absolute;
  top: 948px;
  left: 402px;
  width: 304px;
  height: 548px;
  overflow: hidden;
  color: #676771;
}
.ethereumNetworkDiv2,
.sHIBADiv {
  position: absolute;
  display: inline-block;
}
.sHIBADiv {
  top: 104px;
  left: 117px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.ethereumNetworkDiv2 {
  top: 140px;
  left: 92px;
  line-height: 24px;
}
.frameDiv60 {
  position: absolute;
  top: 948px;
  left: 738px;
  width: 304px;
  height: 548px;
  overflow: hidden;
  color: #676771;
}
.solanaNetworkDiv3,
.uSDTDiv {
  position: absolute;
  display: inline-block;
}
.uSDTDiv {
  top: 104px;
  left: 121px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.solanaNetworkDiv3 {
  top: 140px;
  left: 102px;
  line-height: 24px;
}
.frameDiv67 {
  position: absolute;
  top: 948px;
  left: 1074px;
  width: 304px;
  height: 548px;
  overflow: hidden;
  color: #676771;
}
.mB,
.mB1,
.mB2,
.mB3,
.mB4,
.mB5,
.mB6,
.mB7,
.tVLDiv {
  position: absolute;
  top: 56px;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.mB1,
.mB2,
.mB3,
.mB4,
.mB5,
.mB6,
.mB7,
.tVLDiv {
  top: 144px;
}
.mB2,
.mB3,
.mB4,
.mB5,
.mB6,
.mB7,
.tVLDiv {
  top: 232px;
}
.mB3,
.mB4,
.mB5,
.mB6,
.mB7,
.tVLDiv {
  top: 320px;
}
.mB4,
.mB5,
.mB6,
.mB7,
.tVLDiv {
  top: 408px;
}
.mB5,
.mB6,
.mB7,
.tVLDiv {
  top: 496px;
}
.mB6,
.mB7,
.tVLDiv {
  top: 584px;
}
.mB7,
.tVLDiv {
  top: 672px;
}
.tVLDiv {
  top: 0;
  font-size: 14px;
  color: #676771;
  opacity: 0.8;
}
.groupDiv33 {
  position: absolute;
  top: 2244px;
  left: 373px;
  width: 55px;
  height: 696px;
  font-size: 16px;
}
.actionDiv,
.enterDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.actionDiv {
  color: #676771;
  text-align: left;
  opacity: 0.8;
}
.enterDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  font-weight: 900;
}
.groupDiv35 {
  position: relative;
  width: 37px;
  height: 24px;
  flex-shrink: 0;
}
.buttonDiv10,
.buttonDiv11,
.buttonDiv12,
.buttonDiv13,
.buttonDiv14,
.buttonDiv15,
.buttonDiv8,
.buttonDiv9 {
  position: absolute;
  top: 48px;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 8px 40px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonDiv10,
.buttonDiv11,
.buttonDiv12,
.buttonDiv13,
.buttonDiv14,
.buttonDiv15,
.buttonDiv9 {
  top: 136px;
}
.buttonDiv10,
.buttonDiv11,
.buttonDiv12,
.buttonDiv13,
.buttonDiv14,
.buttonDiv15 {
  top: 224px;
}
.buttonDiv11,
.buttonDiv12,
.buttonDiv13,
.buttonDiv14,
.buttonDiv15 {
  top: 312px;
}
.buttonDiv12,
.buttonDiv13,
.buttonDiv14,
.buttonDiv15 {
  top: 400px;
}
.buttonDiv13,
.buttonDiv14,
.buttonDiv15 {
  top: 488px;
}
.buttonDiv14,
.buttonDiv15 {
  top: 576px;
}
.buttonDiv15 {
  top: 664px;
}
.groupDiv34 {
  position: absolute;
  top: 2244px;
  left: 1256px;
  width: 117px;
  height: 704px;
  text-align: center;
  color: #2d2d31;
}
.frameDiv74 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupDiv44,
.groupDiv45,
.groupDiv46,
.groupDiv47 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 45px;
  height: 24px;
}
.groupDiv45,
.groupDiv46,
.groupDiv47 {
  top: 144px;
  width: 84px;
}
.groupDiv46,
.groupDiv47 {
  top: 408px;
  width: 49px;
}
.groupDiv47 {
  top: 496px;
  width: 48px;
}
.groupDiv48,
.groupDiv49,
.groupDiv50,
.groupDiv51 {
  position: absolute;
  top: 584px;
  left: 0;
  width: 55px;
  height: 24px;
}
.groupDiv49,
.groupDiv50,
.groupDiv51 {
  top: 232px;
}
.groupDiv50,
.groupDiv51 {
  top: 320px;
  width: 140px;
}
.groupDiv51 {
  top: 672px;
  width: 45px;
}
.myDepositsDiv {
  position: relative;
  line-height: 24px;
  display: inline-block;
  opacity: 0.8;
}
.frameDiv82 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #676771;
}
.groupDiv43 {
  position: absolute;
  top: 2244px;
  left: 674px;
  width: 140px;
  height: 696px;
  font-size: 16px;
}
.span {
  font-size: 14px;
  text-decoration: line-through;
  color: #676771;
}
.groupDiv53 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 63px;
  height: 24px;
}
.groupDiv54,
.groupDiv55,
.groupDiv56,
.groupDiv57 {
  position: absolute;
  top: 144px;
  left: 0;
  width: 81px;
  height: 24px;
}
.groupDiv55,
.groupDiv56,
.groupDiv57 {
  top: 408px;
  width: 98px;
}
.groupDiv56,
.groupDiv57 {
  top: 496px;
}
.groupDiv57 {
  top: 584px;
  width: 76px;
}
.groupDiv52,
.groupDiv58,
.groupDiv59,
.groupDiv60 {
  position: absolute;
  top: 232px;
  left: 0;
  width: 63px;
  height: 24px;
}
.groupDiv52,
.groupDiv59,
.groupDiv60 {
  top: 320px;
}
.groupDiv52,
.groupDiv60 {
  top: 672px;
  width: 85px;
}
.groupDiv52 {
  top: 2244px;
  left: 217px;
  width: 98px;
  height: 696px;
  font-size: 16px;
}
.frameDiv92,
.frameDiv93,
.frameDiv94,
.frameDiv95,
.frameDiv96,
.frameDiv97,
.frameDiv98,
.frameDiv99 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv93,
.frameDiv94,
.frameDiv95,
.frameDiv96,
.frameDiv97,
.frameDiv98,
.frameDiv99 {
  top: 88px;
}
.frameDiv94,
.frameDiv95,
.frameDiv96,
.frameDiv97,
.frameDiv98,
.frameDiv99 {
  top: 176px;
}
.frameDiv95,
.frameDiv96,
.frameDiv97,
.frameDiv98,
.frameDiv99 {
  top: 264px;
}
.frameDiv96,
.frameDiv97,
.frameDiv98,
.frameDiv99 {
  top: 352px;
}
.frameDiv97,
.frameDiv98,
.frameDiv99 {
  top: 440px;
}
.frameDiv98,
.frameDiv99 {
  top: 528px;
}
.frameDiv99 {
  top: 616px;
}
.groupDiv61,
.groupDiv62 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 138px;
  height: 640px;
}
.groupDiv61 {
  top: 2244px;
  left: 872px;
  height: 696px;
  font-size: 16px;
}
.groupIcon6 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.frameDiv101 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv101 > * + * {
  margin-left: 8px;
}
.frameDiv102 {
  position: absolute;
  top: 84px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv102 > * + * {
  margin-left: 8px;
}
.frameDiv103 {
  position: absolute;
  top: 172px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv103 > * + * {
  margin-left: 8px;
}
.frameDiv104 {
  position: absolute;
  top: 260px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv104 > * + * {
  margin-left: 8px;
}
.frameDiv105 {
  position: absolute;
  top: 348px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv105 > * + * {
  margin-left: 8px;
}
.frameDiv106 {
  position: absolute;
  top: 436px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv106 > * + * {
  margin-left: 8px;
}
.frameDiv107 {
  position: absolute;
  top: 524px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv107 > * + * {
  margin-left: 8px;
}
.frameDiv108 {
  position: absolute;
  top: 612px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv108 > * + * {
  margin-left: 8px;
}
.groupDiv63,
.groupDiv64 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 130px;
  height: 652px;
}
.groupDiv63 {
  top: 2244px;
  left: 486px;
  height: 704px;
  font-size: 16px;
}
.appuniswaporgDiv8 {
  position: relative;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
}
.frameDiv111 {
  position: absolute;
  top: 88px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv111 > * + * {
  margin-left: 8px;
}
.frameDiv112 {
  position: absolute;
  top: 176px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv112 > * + * {
  margin-left: 8px;
}
.frameDiv113 {
  position: absolute;
  top: 264px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv113 > * + * {
  margin-left: 8px;
}
.frameDiv114 {
  position: absolute;
  top: 352px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv114 > * + * {
  margin-left: 8px;
}
.frameDiv115 {
  position: absolute;
  top: 440px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv115 > * + * {
  margin-left: 8px;
}
.frameDiv116 {
  position: absolute;
  top: 528px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv116 > * + * {
  margin-left: 8px;
}
.frameDiv117 {
  position: absolute;
  top: 616px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv117 > * + * {
  margin-left: 8px;
}
.groupDiv66 {
  position: absolute;
  top: 56px;
  left: 0;
  width: 130px;
  height: 640px;
}
.frameDiv118 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #676771;
}
.groupDiv65 {
  position: absolute;
  top: 2244px;
  left: 1068px;
  width: 130px;
  height: 696px;
  text-align: right;
}
.groupDiv67,
.groupDiv68 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 94px;
  height: 652px;
}
.groupDiv67 {
  top: 2244px;
  left: 64px;
  width: 95px;
  height: 704px;
  font-size: 16px;
}
.vaultB {
  position: relative;
  line-height: 24px;
  display: flex;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.frameDiv129 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.portfolioDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.groupDiv69 {
  position: relative;
  width: 65px;
  height: 24px;
  flex-shrink: 0;
}
.frameDiv128,
.frameDiv130 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.frameDiv128 {
  position: absolute;
  top: 48px;
  left: 530px;
  text-align: center;
  font-size: 16px;
  color: #676771;
  overflow: hidden;
}
.frameDiv128 > * + * {
  margin-left: 24px;
  overflow: hidden;
}
.allVaultsDiv {
  position: absolute;
  top: 2180px;
  left: 64px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  display: inline-block;
}
.network1Div {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  display: inline-block;
}

.frameDiv133 {
  position: absolute;
  top: 532px;
  left: 848px;
  border-radius: 8px;
  background-color: #2d2d31;
  width: 140px;
  height: 140px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.frameDiv133 > * + * {
  margin-top: 16px;
}
.mainDashboardDiv {
  position: flex;
  background-color: #050505;
  width: 100%;
  height: 3072px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Athletics;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

details {
  position: relative;
  width: 125px;
  margin-right: 1rem;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 50vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

ul {
  width: 100%;
  background: #ddd;
  position: flex;
  top: calc(100% + 0.5rem);
  left: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

.menuContainer {
  position: relative;
  display: inline;
  cursor: pointer;
  z-index: 0;
}

.menu {
  cursor: pointer;
  background: #442b2b;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #683f3f;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  display: block;
}

.menuTrigger {
  cursor: pointer;
  background: none;
  border-radius: 90px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menuTrigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menuTriggerspan {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menuTrigger img {
  border-radius: 90px;
}

/* CSS */
.connectButton {
  background-color: #000000;
  border: 1px solid #2d2d31;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  width: 130px;
  line-height: 20px;
  list-style: none;
  margin-left: 5px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.connectButton:hover,
.connectButton:focus {
  background-color: #2d2d31;
}

.dropdownProtocol {
  cursor: pointer;
  background: none;
  border-radius: 3px;
  width: 100%;
  background-color: #000000;
  height: 50px;
  color: #ffff;
  padding: 8px 8px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  text-align: center;
  transition: box-shadow 0.4s ease;
  z-index: 4000;
}

.dropdownProtocolStyle {
  border: none;
  background-color: #1b1919;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  color: rgba(255, 255, 255, 0.685);
  font-size: 14px;
  z-index: 5000;
}

li {
  padding-left: 10px;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* table styling */

.tableTopHeading {
  margin-top: 140rem;
  margin-left: 4rem;
}

.tableHeadingRow {
  display: flex;
}

.tableDepositeTitle {
  margin-right: 2rem;
  color: #676771;
}

.tableAPYTitle {
  margin-right: 7rem;
  color: #676771;
}

.tableTVLTitle {
  margin-right: 8rem;
  color: #676771;
}

.tableNetworkTitle {
  margin-right: 6rem;
  color: #676771;
}

.tableDepositsTitle {
  margin-right: 3rem;
  color: #676771;
}

.tableEarningsTitle {
  margin-right: 6rem;
  color: #676771;
}

.tableWebsiteTitle {
  margin-right: 9rem;
  color: #676771;
}

.tableActioneTitle {
  color: #676771;
}

.tableImage {
  margin-right: 1rem;
  height: 2.5rem;
}

.tableText {
  text-align: center;
}

.tableContainer {
  padding: 2rem 4rem;
}

.tableRows {
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.depositTokensContainer {
  display: flex;
  align-items: center;
  width: 6rem;
  margin-right: 3rem;
}
.apyContainer {
  width: 8rem;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.apyContainer h1 {
  color: gray;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.tvlContainer {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.networkContainer {
  display: flex;
  align-items: center;
  width: 12rem;
  margin-right: 3rem;
}

.myDepositsContainer {
  display: flex;
  align-items: center;
  width: 6rem;
  margin-right: 3rem;
}
.myEarningsContainer {
  display: flex;
  align-items: center;
  width: 7rem;
  margin-right: 3rem;
}

.websiteContainer {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.tableButton {
  background-color: #fff;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 10px;
}
