* {
  user-select: none;
}

.pageDiv {
  position: relative;
  background-color: #050505;
  width: 100%;
  height: 1815px;
  text-align: left;
  font-size: 14px;
  color: #676771;
  font-family: Athletics;
  overflow: hidden;
}

.addProtocolGradientContainer {
  box-sizing: border-box;

  position: absolute;
  width: 1312px;
  height: 103px;
  left: 64px;
  top: 184px;

  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 16px;
}

.circleAddProtocol {
  box-sizing: border-box;

  position: absolute;
  width: 40px;
  height: 40px;
  left: 24px;
  top: 24px;
  border-radius: 50%;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  z-index: 0;
}

.addNewProtocolIcon {
  position: relative;
  left: 11px;
  top: 10px;
}

.addNewProtocolTitle {
  position: absolute;
  width: 196px;
  height: 27px;
  left: 80px;
  top: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */

  /* Grey/Light */

  color: #ffffff;
  white-space: nowrap;
}

.addNewProtocolSubText {
  position: absolute;
  width: 611px;
  height: 20px;
  left: 80px;
  top: 59px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;

  /* Grey/Light: active */

  color: #d8d8dcca;
}

.addNewProtocolBtn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  position: absolute;
  width: 182px;
  height: 48px;
  left: 1090px;
  top: 28px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 8px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #050505;
  outline: none;
  border: none;
  cursor: pointer;
}

.addNewProtocolBtn:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: white;
}

.protocolRouteContainer {
  position: absolute;
  width: 184px;
  height: 24px;
  top: 136px;
  left: 64px;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.protocolsRouteOffText {
  width: 62px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* Grey/Normal */

  color: #676771;

  /* Inside auto layout */

  flex: auto;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
  position: relative;
  top: -4px;
}

.protocolRouteOnText {
  position: relative;
  width: 83px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* Grey/Light */

  color: #ffffff;
  bottom: 4px;

  /* Inside auto layout */
}

.routeLeftArrow {
  position: relative;

  /* Grey/Normal */
  left: 0px;
  z-index: 99999999999999;
  width: 10px;
  height: 10px;
  top: 4px;
  z-index: 99;
}

.protocolHeaderContainer {
  position: absolute;
  height: 64px;
  width: 1312px;
  left: 64px;
  top: 327px;
  background-color: transparent;
}

.protocolHeaderLogo {
  width: 64px;
  height: 64px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 50%;
  overflow: hidden;
}

.protocolWebsiteText {
  position: absolute;
  width: 131px;
  height: 24px;
  left: 110px;
  top: 42.73px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  font-feature-settings: "liga" off;

  /* Grey/Light: active */

  color: #d8d8dc;

  opacity: 0.8;
  overflow: hidden;
}

.protocolWebsiteIcon {
  position: absolute;
  left: 88px;
  top: 46.33px;

  /* Grey/Light: active */
  overflow: hidden;
}

.protocolHeaderTitle {
  position: relative;
  width: 203px;
  height: 40px;
  left: 90px;
  top: -70px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.mediaButtonsContainer {
  position: absolute;
  width: 152px;
  height: 40px;
  left: 658px;
  top: 12px;
  background-color: transparent;
  display: grid;
  row-gap: 16px;
  overflow: hidden;
}

.mediaButtonCircleOverlay {
  box-sizing: border-box;

  position: absolute;
  width: 40px;
  height: 40px;

  /* Grey/Light: active */
  border: 1px solid #d8d8dc;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  overflow: hidden;
}

.mediaButtonImg {
  position: relative;
  left: 9px;
  top: 9px;
  cursor: pointer;
  color: white;
}

.searchBarBox {
  box-sizing: border-box;
  padding-left: 56px;

  position: relative;
  width: 486px;
  height: 48px;
  left: 826px;
  top: -100px;

  /* Grey/Darker */

  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 8px;
  color: white;
  outline: none;
  overflow: visible;
  caret-color: rgba(255, 255, 255, 0.252);
  cursor: default;
  overflow: hidden;
}

.searchBarBox::placeholder {
  overflow: visible;
  color: #676771;

  opacity: 0.8;
}

.searchIcon {
  position: absolute;
  top: 21px;
  left: 844px;
  /* Grey/Normal */
  z-index: 99;
}

.networkChipsContainer {
  display: grid;
  position: absolute;
  height: 40px;
  width: 1288px;
  left: 64px;
  top: 431px;
  background-color: transparent;
  grid-template-columns: 148px 148px 148px 148px;
  column-gap: 16px;
  overflow: hidden;
}

.networkChip {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px 4px 4px;
  gap: 8px;

  width: 154px;
  height: 40px;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 133.333px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  white-space: nowrap;
  overflow: hidden;
}

.networkChipImg {
  cursor: pointer;
  position: relative;
  height: 32px;
  width: 32px;
  left: 0px;
  border-radius: 50%;
  overflow: hidden;
}

.networkChipText {
  cursor: pointer;
  width: 88px;
  height: 24px;

  /* Checklos/body/16 */

  font-family: "Athletics";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  top: 4px;
  left: 44px;
  overflow: hidden;
}

.poolsTableTitle {
  position: absolute;
  top: 511px;
  left: 64px;
  width: 1159px;
  height: 24px;
  background: transparent;

  display: grid;
  column-gap: 50px;
  grid-template-columns: 236px 200px 137px 167px 170px 132px;
  overflow: hidden;
}

.tableTitleText {
  width: 56px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Normal */

  color: #676771;

  opacity: 0.8;

  /* Inside auto layout */

  white-space: nowrap;
  overflow: hidden;
}

.poolsTable {
  position: absolute;
  display: table;
  left: 64px;
  top: 559px;
  width: 1312px;
  height: 616px;
  background-color: transparent;
  padding-bottom: 200px;
  overflow: hidden;
}

.poolTableNameContainer {
  position: relative;
  width: 127px;
  height: 40px;
  background: transparent;
  overflow: hidden;
}

.poolsTableNameLogo {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  overflow: hidden;
}

.poolsTableNameText {
  position: relative;
  width: 77px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Light */

  color: #ffffff;
  top: 8px;
  left: 0px;
}

.poolsTableNetworkContainer {
  position: relative;
  width: 106px;
  height: 40px;
  background: transparent;
  left: 282px;
  top: -40px;
}

.poolsTableSingleImgStyle {
  position: relative;
  width: 40px;
  height: 40px;
  left: 658px;
  z-index: 99;
  border-radius: 50%;
  overflow: hidden;
}

.poolsTableNetworkText {
  width: 48px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Light */

  color: #ffffff;

  /* Inside auto layout */
  position: relative;
  top: -36px;
  left: 705px;
  white-space: nowrap;
  z-index: 99;
}

.poolsTableAprText {
  width: 32px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  z-index: 99;

  /* Grey/Light */

  color: #ffffff;
  position: relative;
  left: 538px;
  top: -70px;
}

.poolsTableTvlText {
  position: relative;
  width: 103px;
  height: 24px;
  left: 715px;
  top: -95px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Light */

  color: #ffffff;
  z-index: 99;
}

.outflowsContainer {
  position: relative;
  width: 112px;
  height: 40px;
  left: 285px;
  top: -104px;
  display: flex;
  z-index: 9999;
  z-index: 99;
}

.outflowImg {
  position: relative;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: -10px;
  overflow: hidden;

  z-index: 99;
}

.outFlowsPlusText {
  position: relative;
  width: 40px;
  height: 40px;
  top: 6.5px;
  left: 25px;
  display: flex;
  font-size: 24px;
  font-family: "Athletics";
  color: #848491;
  z-index: 99;
}

.inflowsContainer {
  position: relative;
  width: 112px;
  height: 40px;
  left: 535px;
  top: -145px;
  /* background: transparent; */
  display: flex;
  z-index: 9999;
  z-index: 99;
}

.inflowImg {
  position: relative;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: -10px;
  overflow: hidden;
}

.inFlowsPlusText {
  position: relative;
  width: 40px;
  height: 40px;
  top: 6.5px;
  left: 25px;
  display: flex;
  font-size: 24px;
  font-family: "Athletics";
  color: #848491;
}

.unlockedActionsText {
  position: relative;
  width: 44px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Light */

  color: white;

  /* Inside auto layout */

  top: -175px;
  left: 725px;
  display: flex;
  z-index: 99;
}

.poolsTableActionBtn {
  position: relative;

  padding: 8px 35px;
  gap: 10px;

  width: 150px;
  height: 40px;
  left: 1158px;
  top: -205px;

  /* Grey/Light */
  background: white;
  border-radius: 4px;
  outline: none;
  border: transparent;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Dark */

  color: #2d2d31;
  white-space: nowrap;
}
