* {
  white-space: nowrap;
}

button {
  cursor: pointer;
}

.pageDiv {
  position: absolute;
  width: 100%;
  height: 1000%;
  background: black;
  z-index: 1;
  overflow-x: hidden;
}

.strategyTitleSection {
  position: absolute;
  width: 1310px;
  height: 24px;
  top: 136px;
  left: 64px;
}

.strategyTitleRouteContainer {
  width: 156px;
  height: 24px;
  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
}

.strategyTitleRouteOffText {
  width: 33px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* Grey/Normal */

  color: #676771;

  /* Inside auto layout */

  flex: auto;
  order: 0;

  white-space: nowrap;
}

.strategyTitleRouteOnText {
  width: 83px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  white-space: nowrap;
}

.strategyTitleArrowLeft {
  /* Grey/Normal */
  width: 12.8px;
  height: 12.02px;
  position: absolute;
  left: 43.58px;
  top: 24.96%;
  bottom: 24.96%;
}

.actionableTokenContainer {
  width: 204px;
  height: 24px;
  position: absolute;
  top: 136px;
  left: 890px;
}

.actionTokenTitle {
  width: 125px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Normal */

  color: #676771;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Normal */

  color: #676771;
  white-space: nowrap;
}

.actionableTokenText {
  position: absolute;
  width: 43px;
  height: 24px;
  left: 142px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.actionableTokenLogo {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 190px;
}

.strategyIntervalContainer {
  left: 907px;
  top: 144px;
  width: 255px;
  height: 24px;
}

.intervalTimestampTitle {
  width: 125px;
  height: 24px;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  top: 136px;
  left: 1118px;
  /* identical to box height, or 150% */

  /* Grey/Normal */

  color: #676771;

  white-space: nowrap;
}

.intervalTimestampText {
  white-space: nowrap;
  position: absolute;
  width: 43px;
  height: 24px;
  top: 136px;
  left: 1284px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.intervalTimeStampEditIcon {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 12.5%;
  bottom: 12.5%;
  width: 18px;
  height: 18px;
}

.finishedSasiBlock {
  position: relative;
  width: 608px;
  height: 96px;
  left: 416px;
  top: 40px;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 8px;
  margin-bottom: 42px;
}

.finishedSasiBlockFlowsContainer {
  position: relative;
  top: 56px;
  left: 16px;
  width: 576px;
  height: 24px;
  white-space: nowrap;
}

.finishedSasiBlockOutflowName {
  position: relative;
  width: 43px;
  height: 24px;
  left: 0px;
  top: 0px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.finishedSasiBlockOutflowToken {
  position: relative;
  width: 43px;
  height: 24px;
  left: 53px;
  top: -23.5px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.finishedSasiBlockOutflowLogo {
  position: relative;
  top: -50px;
  left: 104px;
  width: 24px;
  height: 24px;
}

.strategyBuilder {
  position: relative;
  top: 160px;
  left: 0px;
  height: 10000px;
  width: 1920px;
  background: black;
  overflow: hidden;
  overflow-y: hidden;
}

.finishedSasiBlockTitleSection {
  position: absolute;
  width: 576px;
  height: 24px;
  top: 16px;
  left: 16px;
  background: transparent;
}

.finishedSasiBlockProtocolContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px 0px 0px;
  gap: 8px;

  position: absolute;
  width: 111px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 16px;
}

.finishedSasiBlockProtocolImg {
  width: 24px;
  height: 24px;

  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.finishedSasiBlockProtocolName {
  width: 71px;
  height: 16px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.finishedSasiBlockActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;

  position: absolute;
  width: 47px;
  height: 24px;
  left: 120px;
  top: 0px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 16px;
}

.finishedSasiBlockActionName {
  width: 31px;
  height: 16px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: flex-end;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.selectActionContainer {
  z-index: 999999;
  margin-top: 16px;
  position: relative;
  width: 608px;
  height: 312px;
  left: 416px;
  top: 30px;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 4px;
}

.selectActionTitleContainer {
  position: relative;
  height: 24px;

  width: 566px;
  top: 24px;
  left: 24px;
  background: transparent;
  white-space: nowrap;
}

.selectActionTitleText {
  position: absolute;
  width: 87px;
  height: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
}

.selectActionCloseBtn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  top: 0px;
  background: transparent;
  outline: none;
  border: 0px solid transparent;
}

.actionBtnsContainer {
  display: grid;
  position: absolute;
  top: 72px;
  left: 24px;
  height: 224px;
  width: 560px;
  background: transparent;
  grid-template-columns: auto auto auto;
}

.actionBtnContainer {
  display: grid;

  padding: 16px;
  gap: 93px;

  position: relative;
  width: 170px;
  height: 56px;
  left: 0px;
  top: 0px;
  margin-bottom: 24px;
  margin-right: 25px;

  /* Grey/Dark */

  background: #2d2d31;
  border-radius: 8px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: white;
  outline: none;
  border: 0px solid transparent;
  grid-column-start: auto;
  grid-column-end: auto;
}

.finishStrategyBtn {
  position: relative;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;

  width: 608px;
  height: 56px;
  left: 416px;
  top: 60px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 8px;
  display: flex;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Darker */

  color: #050505;
  outline: none;
  border: 0px solid transparent;

  /* Inside auto layout */
}

.finishStrategyBtn:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: white;
}

.stakeConfigurationContainer {
  position: relative;
  left: 416px;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;

  width: 608px;
  height: 464px;

  /* Grey/Dark: hover */

  background: #202023;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.stakeConfigurationActionTitle {
  position: absolute;
  width: 43px;
  height: 24px;
  left: 24px;
  top: 24px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
}

.stakeConfigurationActionChose {
  cursor: pointer;
  box-sizing: border-box;

  position: absolute;
  height: 56px;
  left: 3.95%;
  right: 3.95%;
  top: 56px;

  /* Grey/Darker */

  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
}

.stakeConfigurationActionChoseText {
  position: absolute;
  width: 37px;
  height: 24px;
  left: 16px;
  top: 16px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  color: #ffffff;
}

.stakeConfigurationActionChoseArrowDown {
  position: absolute;
  left: 526px;
  top: 24.58px;
}

.stickyActionFooterContainer {
  z-index: 99999999999999999999;
  position: fixed;
  width: 600px;
  height: 80px;
  left: 420px;
  top: 670px;

  background: rgba(68, 68, 68, 0.1);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 1000px;
  white-space: nowrap;
}

.stickyActionFooterRowContainer {
  width: 497px;
  height: 40px;
  left: 51px;
  top: 40px;
}

.stickyActionFooterTitle {
  position: absolute;
  width: 125px;
  height: 24px;
  left: calc(50% - 125px / 2 - 186.5px);
  top: calc(50% - 24px / 2);

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Grey/Normal */

  color: #676771;
}

.stickyActionFooterRewardName {
  position: absolute;
  width: 50px;
  height: 24px;
  left: 193px;
  top: 29px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.stickyActionFooterRewardLogo {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 238px;
  top: 29px;
}

.stickyActionFooterBtn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 40px;
  gap: 10px;

  position: absolute;
  width: 187px;
  height: 40px;
  left: calc(50% - 187px / 2 + 154.5px);
  top: calc(50% - 40px / 2);

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 8px;
  outline: none;
  border: 0px solid transparent;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Darker */

  color: #050505;
  outline: none;
  border: 0px solid transparent;
}

.stickyActionFooterBtn:hover {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%) border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: white;
}

.configDoneBtn {
  position: relative;
  top: 360px;
  left: 186px;
  border: 0px solid transparent;
  box-sizing: border-box;

  width: 113px;
  height: 56px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  border-radius: 8px;

  padding: 0px;
  gap: 8px;
  outline: none;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Grey/Darker */

  color: #050505;
}

.configCancelBtn {
  z-index: 999999999999999999999;
  position: relative;
  top: 272px;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 40px;
  gap: 10px;

  width: 170px;
  height: 56px;

  border: 1px solid #ffffff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  background: #202023;

  /* Text Stuff */
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #ffffff;
  white-space: nowrap;
}

.stakeDropdownContainer {
  position: relative;
  width: 560px;
  height: 316px;
  top: 176px;

  background: #191a1d;
  border-radius: 4px;
  z-index: 99999999999999999999999999999;
  overflow: hidden;
}

.dropDownSearchContainer {
  cursor: auto;
  position: relative;
  width: 528px;
  height: 40px;
  left: 16px;
  top: 16px;

  /* Grey/Dark */

  background: #2d2d31;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  padding-left: 55.41px;
  overflow: visible;
  caret-color: #676771;
  color: rgb(212, 212, 212);
  text-overflow: clip;
}

.dropDownSearch::placeholder {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;

  /* Grey/Normal */

  color: #676771;
  overflow: visible;
}

.dropDownSearchIcon {
  position: relative;
  width: 24.18px;
  height: 24px;
  top: 24px;
  right: 504px;
}

.dropDownChoicesContainer {
  overflow-y: scroll;
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  /* grid-template-rows: auto auto auto; */
  top: 64px;
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: max-content;
}

.dropDownChoiceRowContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  background-color: rgba(15, 16, 17, 0);
  height: 44px;
  width: 100%;
  cursor: pointer;
}

/* .dropDownChoiceRowContainer:hover {
  background: rgba(15, 16, 17, 1);
} */

.dropDownChoiceRowImg {
  position: relative;
  top: 10px;
  left: 16px;
  width: 24px;
  height: 24px;
  z-index: 9999999999999999999999;
}

.dropDownChoiceRowText {
  position: relative;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #81818d;
  /* left: 60px; */
  top: 10px;
  left: 24px;
}

.dropDownChoiceRowApyText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #81818d;
  position: relative;
  left: 453px;
  top: 0px;
}

.dropDownRowArrowLeft {
  position: relative;
  left: 35px;
  top: 15.99px;
  width: 12.85px;
  height: 12.02px;

  fill: #404040;
}

.dropDownRowRewardText {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #81818d;
  position: relative;
  /* left: 453px; */
  top: 11px;
}

.choseProtocolImg {
  position: relative;
  width: 24px;
  height: 24px;
  right: 250px;
  top: 2px;
}
