.background {
  position: relative;
  width: 1440px;
  height: 900px;

  /* Grey/Darker */

  background: #050505;
  overflow: hidden;
}

.topColorElipse {
  position: absolute;
  width: 658px;
  height: 658px;
  left: 1094px;
  top: -248px;

  background: linear-gradient(0deg, #d9ca0f, #d9ca0f), #0ab4e2;
  opacity: 0.5;
  filter: blur(350px);
  overflow: auto;
}

.bottomColorElipse {
  position: absolute;
  width: 680px;
  height: 680px;
  left: -282px;
  top: 419px;

  /* Gradient/Normal */

  background: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
  opacity: 0.5;
  filter: blur(350px);
  overflow: auto;
}

.backBtnContainer {
  position: absolute;
  width: 68px;
  height: 24px;
  left: 64px;
  top: 150px;
  overflow: hidden;
  z-index: 9999;
  cursor: pointer;
}

.backBtnText {
  position: absolute;
  width: 36px;
  height: 24px;
  left: 96px;
  top: 150px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}

.backBtnArrow {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 65px;
  top: 150px;
  overflow: hidden;
  cursor: pointer;
}

.ycLogo {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 688px;
  top: 170px;
}

.headText {
  position: absolute;
  width: 355px;
  height: 56px;
  left: 543px;
  top: 274px;

  font-family: "Athletics";
  font-style: bold;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  /* identical to box height, or 140% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;
}

.descriptionText {
  position: absolute;
  width: 600px;
  height: 24px;
  left: 420px;
  top: 336px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;
}

.depositTokenTitle {
  position: absolute;
  width: 600px;
  height: 24px;
  left: 171px;
  top: 429px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;
}

.depositTokenDescription {
  position: absolute;
  width: 600px;
  height: 24px;
  left: 295px;
  top: 451px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Normal */

  color: #676771;
}

.chooseTokenContainer {
  box-sizing: border-box;

  position: absolute;
  height: 56px;
  left: 29.17%;
  right: 29.17%;
  top: 474px;

  /* Grey/Darker */

  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  cursor: pointer;
}

.chooseTokenPlaceHolderText {
  position: relative;
  width: 88px;
  height: 24px;
  left: 26px;
  top: 16px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Normal */

  color: #676771;
  z-index: 999999;
  cursor: pointer;
  white-space: nowrap;
}

.chooseTokenDropdownArrow {
  position: absolute;
  right: 18px;
  top: 25px;
  cursor: pointer;
}

.chooseTokenImg {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 18px;
  top: 16px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;

}

.strategyNameTitle {
  position: absolute;
  width: 600px;
  height: 24px;
  left: 175px;
  top: 564px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Light */

  color: #ffffff;
}

.strategyNameDescription {
  position: absolute;
  width: 600px;
  height: 24px;
  left: 370px;
  top: 585px;

  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Normal */

  color: #676771;
}

.strategyNameInputContainer {
  box-sizing: border-box;

  position: absolute;
  height: 56px;
  left: 28.89%;
  right: 29.44%;
  top: 609px;

  /* Grey/Darker */

  background: #050505;
  /* Grey/Dark */

  border: 1px solid #2d2d31;
  border-radius: 4px;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  font-feature-settings: "liga" off;

  /* Grey/Light: active */

  color: #d8d8dc;
  padding-left: 25px;
  cursor: text;
}

.strategyNameInputContainer::placeholder {
  font-family: "Athletics";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* Grey/Light: active */

  color: #d8d8dc;
  overflow: visible;
}

.proceedBtn {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 64px;
  gap: 10px;

  position: absolute;
  width: 600px;
  height: 56px;
  left: 417px;
  top: 720px;

  /* Gradient/Normal */

  background: linear-gradient(
    90deg,
    rgba(0, 178, 236, 1) 0%,
    rgba(217, 202, 15, 1) 100%
  );
  border-radius: 4px;
  /* padding-left: 269.5px; */
  padding-top: 16px;
  color: black;
  font-family: "Athletics";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  border: 0px solid transparent;
}
